# 忽略編譯產出物 (這是垃圾，不要備份)
build/
*.uf2
*.elf
*.bin
*.hex
*.map
*.dis

# 忽略 Mac 系統檔
.DS_Store
# 忽略 VS Code 個人設定
.vscode/
# 忽略 Clangd 快取
.cache/
# Docker 編譯產出物
build_docker/
# test 編譯產出物
build_test/
#vs產物
src/ON/

build_test_docker/

external/
